<settings>
	<category label="32101">		
		<setting id="live_cache_type" label="32110" type="labelenum" values="memory|disk" />
		<setting id="vod_cache_type" label="32111" type="labelenum" values="memory|disk" />
		<setting default="150" id="memory_cache_limit" label="32112" type="number" visible="eq(-1,0)|eq(-2,0)" />
		<setting default="0" id="total_max_download_rate" label="32115" type="number" visible="eq(-2,1)|eq(-3,1)" />
		<setting default="0" enable="false" id="total_max_upload_rate" label="32116" type="number" visible="eq(-3,1)|eq(-4,1)" />
		<setting default="5" id="disk_cache_limit" label="32114" type="number" />
		<setting default="50" id="max_peers" label="32117" type="number" />
		<setting default="500" id="max_connects" label="32118" type="number" />		  
		<setting default="20" id="live_buffer_time" label="32119" type="number" />
		<setting default="5" id="player_buffer_time" label="32120" type="number" />		
	</category>
	<category label="32102">
		<setting default="ACESTREAM_LOGIN" id="login" label="32129" type="text" />
		<setting default="ACESTREAM_PASSW" id="password" label="32130" type="text" />	
		<setting default="auto" id="playlist_output_format_live" label="32124" type="labelenum" values="auto|original|hls|http" />
		<setting default="http" id="playlist_output_format_vod" label="32125" type="labelenum" values="auto|original|hls|http" />
		<setting default="true" id="allow_intranet_access" label="32127" type="bool" />
		<setting default="false" id="allow_remote_access" label="32128" type="bool" />
		<setting default="WEBUITOKEN" id="access_token" label="32121" type="text" />
		<setting default="true" id="is_debug" label="32122" type="bool" />
		<setting label="dht.transmissionbt.com" type="ipaddress" id="dht_transmissionbt_com" default="212.129.33.59"/>
		<setting label="router.bittorrent.com" type="ipaddress" id="router_bittorrent_com" default="67.215.246.10"/>		
	</category>
	<category label="32104">
		<setting label="32126" type="action" action="RunAddon(service.system.acestreammedia,select_disk)" />
		<setting label="32113" type="text" id="disk_cache" default="default (/storage)" enable="false" />
	</category>
	<category label="32103">
		<setting default="false" id="is_experiment" label="32123" type="bool" />
	</category>
</settings>